<p id="notice"><%= notice %></p>

<p>
  <strong>Orderno:</strong>
  <%= @order.orderno %>
</p>

<p>
  <strong>Trackno:</strong>
  <%= @order.trackno %>
</p>

<p>
  <strong>Paytype:</strong>
  <%= @order.paytype %>
</p>

<p>
  <strong>Total:</strong>
  <%= @order.total %>
</p>

<p>
  <strong>Orderdate:</strong>
  <%= @order.orderdate %>
</p>

<p>
  <strong>User:</strong>
  <%= @order.user_id %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
